.arrow {
  cursor: pointer;
  height: 100%;
  width: 50px;
  top: 22px;
  color: $color_darkBlue;

  &::after {
    font-size: 25px;
    font-weight: bold;
  }
}

#carousel {
  padding-inline: 20px;
}

.carousel {
  .swiper-slide {
    max-width: 150px;
    aspect-ratio: 2/3;
    position: relative;
    overflow: hidden;
  }

  .swiper-button {
    &-disabled {
      display: none;
    }

    &-next {
      right: 0;
      top: 22px;
      height: 100%;
    }

    &-prev {
      left: 0;
      top: 22px;
      height: 100%;
    }

    &-next,
    &-prev {
      @extend .arrow;
    }
  }
}
