.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-color: $color_dark;
  padding: 10px 20px;

  .logo {
    margin-block: auto;
    width: fit-content;

    img {
      background-color: $color_blue;
    }
  }

  .form {
    margin: auto 0 auto auto;

    &__input {
      background-color: $color_gray;
      padding: 10px;
      border-radius: 10px;

      border: none;
      color: $color_light;
      font-size: 0.9375rem;

      &::placeholder {
        color: $color_light;
      }
    }
  }
}
