$color_dark: #201d1d;
$color_darkBlue: #0f4571;
$color_violet: #386dbd;
$color_blue: #009ddd;
$color_softBLue: #05d3f8;
$color_softBLue-transparent: #00accac9;
$color_light: #ebebeb;
$color_gray: #858585;

@mixin respond-to-desktop {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
